<div class="body">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white fw-bolder">ABOUT COMPONENT</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 star-container">
        <i class="fa-solid fa-star text-white"></i>
    </div>
    <div class="text-white row mt-3 text-center justify-content-center me-2">
        <div class="col-lg-3 col-sm-12">
           <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-lg-3 col-sm-12">
            <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
</div>
