*{
    background-color:  #1ABC9C;
}
h1{
    margin-top: 20%;
}
.star-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .star-container::before,
  .star-container::after {
    content: '';
    height: 5px;
    width: 100px;
    background-color: white;
  }
  
  .star-container::before {
    margin-right: 10px;
  }
  
  .star-container::after {
    margin-left: 10px;
  }
.custom-wid{
    width: 30%;
    background-color:
}
.body{
  height: 80vh;
}