<div class="body text-white row justify-content-center align-items-center text-center me-1">
    <div class="p-5 mt-5 col-lg-3 col-sm-12">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </div>
    <div class="p-5 col-lg-3 col-sm-12">
        <h2>AROUND THE WEB</h2>
        <div class="d-flex justify-content-center">
            <div class="border rounded-circle ms-2"><i class="fa-brands fa-facebook p-1"></i></div>
            <div class="border rounded-circle ms-2"><i class="fa-brands fa-x-twitter p-1"></i></div>
            <div class="border rounded-circle ms-2"><i class="fa-brands fa-linkedin-in p-1"></i></div>
            <div class="border rounded-circle ms-2"><i class="fa-solid fa-globe p-1"></i></div>
        </div>
    </div>
    <div class="p-5 mt-4 col-lg-3 col-sm-12">
        <h2>ABOUT FREELANCER</h2>
        <p class="w-75 m-auto">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
</div>
<div class="body2 text-white text-center">
      <p class="pt-4 pb-4">Copyright © Your Website 2021</p>
</div>
