<div class="body">
    <div class="d-flex justify-content-center align-items-center">
        <img src="homeAvatar.svg" alt="homePic">
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white fw-bolder">START FRAMEWORK</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 star-container">
        <i class="fa-solid fa-star text-white"></i>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
        <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>